certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
cloudscraper==1.2.71
Flask==2.2.5
idna==3.8
importlib-metadata==6.7.0
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==2.1.5
Pillow==10.4.0
pixivpy3==3.7.5
pyparsing==3.1.4
PySocks==1.7.1
PyYAML==6.0.1
requests==2.31.0
requests-toolbelt==1.0.0
typing_extensions==4.7.1
urllib3==2.0.7
Werkzeug==2.2.3
zipp==3.15.0
