blinker==1.8.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
cloudscraper==1.2.71
Flask==3.0.3
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pillow==10.3.0
pixivpy3==3.7.5
pyparsing==3.1.2
PySocks==1.7.1
PyYAML==6.0.1
requests==2.32.3
requests-toolbelt==1.0.0
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.3
