certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
cloudscraper==1.2.66
Flask==2.2.2
idna==3.4
importlib-metadata==5.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
Pillow==9.3.0
PixivPy3==3.7.2
pyparsing==3.0.9
PySocks==1.7.1
PyYAML==6.0
requests==2.28.1
requests-toolbelt==0.10.1
typing_extensions==4.4.0
urllib3==1.26.13
Werkzeug==2.2.2
zipp==3.11.0
